body {
    background-color: #CCCCCC;
    font-family: "Cairo";
    text-align: center;
    margin: 0;
}

nav div {
    display: inline-block;
    position: relative;
    margin: 0;
    width: 100px;
    height: 70px;
    color: white;
    background-color: darkgrey;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    top: -40px;
    transition: top;
    transition-duration: 500ms;
    overflow:hide;
}

nav a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    position: relative;
    margin:  0 0 0 -1px;
    width: 100px;
    height: 60px;
    font-size: 18px;
    background-color: darkgrey;
    top: -30px;
    transition: top;
    transition-duration: 300ms;
    line-height: 95px;
    border: 1px solid black;
    border-top: 0;
}

nav a:hover {
    top: -0px;
}

h1 {
    position: relative;
    top: 0px;
    margin: 0 0 0 0;
    font-size: 56px;
}

p {
    position: relative;
    font-size: 24px;
    width: 75%;
    margin: 0 auto;
}

.footer {
    position: absolute;
}

.footer img {
    transition: opacity;
    transition-duration: 0.5s;
}

footer {
    background-color: #AAAAAA;
    bottom: 0;
    height: 8%;
    width: 100%;
    position: absolute;
}

#linkedin-link {
    right: 15px;
    bottom: 0;
}

#github-link {
    right: 105px;
    bottom: 0;
}

input {
    transform: scale(2);
    bottom: 25px;
    left: 103px;
}

label {
    bottom: 20px;
    left: 10px;
    resize: none;
    font-size: 18px;
}

.footer img:hover {
    opacity: 0.6;
}