body {
    background-color: #CCCCCC;
    font-family: "Cairo";
    text-align: center;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    position: relative;
    margin: 0 0 0 -1px;
    width: 160px;
    height: 80px;
    font-size: 28px;
    background-color: #AAAAAA;
    top: -30px;
    line-height: 120px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    transition: top 0.3s;
}

nav a:hover {
    top: 0;
}

h1 {
    margin: 0;
    font-size: 72px;
}

p {
    font-size: 28px;
    width: 75%;
    margin: 0 auto;
}

.footer {
    position: fixed;
}

footer {
    background-color: #AAAAAA;
    bottom: 0;
    height: 75px;
    width: 100%;
}

.footer label {
    bottom: 20px;
    left: 10px;
    resize: none;
    font-size: 18px;
}

.footer input {
    transform: scale(2);
    bottom: 26px;
    left: 105px;
}

.footer img {
    transition: opacity 0.5s;
    bottom: 7px;
}

.footer img:hover {
    opacity: 0.6;
}

#linkedin-img {
    right: 15px;
}

#github-img {
    right: 105px;
}